*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
    text-align: center;
}
.itemCardapio{
    border-style: solid;
    width: 150px;
}
.nomeItem{
    font-family: 'Lato', sans-serif !important;
    font-size: 20px;
    letter-spacing: 0.2px;
    text-transform: uppercase !important;
    line-height: 22px;
    
}
.descricaoItem{
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 5px;
    min-height: 54px;
}
.descricaoItem{
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 5px;
    min-height: 54px;
}